<div>
  <h1>Lista de Proyectos</h1>

  <p *ngIf="numProjects>0;else sinProyectos">Actualmente tenemos {{numProjects}} proyectos vigentes</p>

  <ng-template #sinProyectos>
    <p>Sin proyectos</p>
  </ng-template>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre Proyecto</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of projects">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
      </tr>
    </tbody>
  </table>

</div>

<div>

  <h3>Nuevo proyecto</h3>

  <form>

    <fieldset>

      <section>

        <label for="id">Id</label>

        <input #id
               name="id"
               type="number"
               placeholder="Id proyecto" />

      </section>

      <section>

        <label for="name">Nombre</label>

        <input #name
               name="name"
               type="text"
               placeholder="Nombre Proyecto" />

      </section>

      <input value="Guardar"
             type="submit"
             (click)="saveProject(id.value,name.value)" />

    </fieldset>

  </form>

</div>
