<app-filter-projects-form-component (findProject)="findProject($event)"></app-filter-projects-form-component>

<!--

<div>

  <h3>Buscar proyecto</h3>

  <form>

    <fieldset>

      <section>

        <label for="name">Nombre</label>

        <input #name
               name="name"
               type="text"
               placeholder="Nombre Proyecto" />

      </section>

      <input value="Buscar"
             type="submit"
             (click)="findProject(name.value)" />

    </fieldset>

  </form>

</div>

-->

<app-dashboard-component [projects]=projects
                         [projectId]=projectId></app-dashboard-component>

<!--
<div>
  <h3 *ngIf="!this.projectId">Lista de Proyectos</h3>
  <h3 *ngIf="this.projectId && this.projectId!=''">Lista de Proyectos Detalle</h3>

  <p *ngIf="projects.length>0;else sinProyectos">Actualmente tenemos {{projects.length}} proyectos vigentes</p>

  <ng-template #sinProyectos>
    <p>Sin proyectos</p>
  </ng-template>

  <table>
    <thead>
      <tr>
        <th>#</th>
        <th>Nombre Proyecto</th>
        <th *ngIf="!this.projectId">Ver</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of projects">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td *ngIf="!this.projectId"><a routerLink={{item.id}}
             class="button"> <span>Visualizar</span> </a></td>
      </tr>
    </tbody>
  </table>

</div>
-->

<app-viewer-project-form-component *ngIf="this.projectId && this.projectId!=''"
                                   [projectId]=projectId></app-viewer-project-form-component>

<!--
<div>

  <h3>Visualización de un proyecto existente</h3>

  <form>

    <label for="id">Id: {{this.projectId}}</label>
    <a *ngIf="this.projectId && this.projectId!=''"
       routerLink="../"
       class="button"> <span>Volver</span> </a>

  </form>

</div>
-->
